# Banco local padrão
DATABASE_URL=sqlite:///explainer.db

# Exemplo para MySQL:
# DATABASE_URL=mysql+pymysql://root:sua_senha@localhost:3306/ExplAIner

FLASK_DEBUG=False
# CORS_ORIGINS=http://127.0.0.1:5000
